<h1>Hello Mantitas </h1>

<% @subject.each do |subject| %>
	<div class="subject_wrapper">
		<h2 class="title"> <%= link_to subject.title, subject %> </h2>
		<p class="date"> <%= time_ago_in_words(subject.created_at) %></p>
	</div>
<% end %>